  server {
    listen       80;
    server_name  localhost;
    location ${RootUrlPath}/ {
      root   /app;
      index  index.html;
      try_files $uri $uri/ /index.html;
    }
    location ${RootUrlPath}/api {
      proxy_pass ${VerticalSliceConfig__ApiEndpoint};
    }
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
      root   /usr/share/nginx/html;
    }
  }
